backend/statemachine/booking.asl.json
{
  "Comment": "Alur Pembayaran Konsultasi Telemedicine",
  "StartAt": "Cek Jadwal Dokter",
  "QueryLanguage": "JSONata",
  "States": {
    "Cek Jadwal Dokter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${DoctorFunctionArn}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Pilihan"
    },
    "Pilihan": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.isAvailable = true %}",
          "Next": "Tunggu Pembayaran Pasien"
        }
      ],
      "Default": "Kirim Email Penolakan"
    },
    "Tunggu Pembayaran Pasien": {
      "Type": "Wait",
      "Seconds": 5,
      "End": true
    },
    "Kirim Email Penolakan": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${NotificationTopicArn}",
        "Message": "{% $states.input %}"
      },
      "End": true
    }
  }
}
